body {
  margin: 0;
  padding: 0;
  background-color: #007bff;
  font-family: Arial, sans-serif;
}


.registration-form-container {
  width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
  max-width: 100%;
}

.registration-form h1 {
  text-align: center;
}

.personal-details {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkorange;
}

button:focus {
  outline: none;
}